{% comment %}
  This is a new section to display product information details, it is copied by section main-prodcut.liquid but I did many changes on it.
  1. create a new accordion with name of "Step 1. Add kit to cart" to wrap all ProductInfo. (start at line: 160 and end at line: 552)
  2. create two buttons after the new accordion "Step 1. Add kit to cart" and named them "Step 2. Add your toppings for $5 (50c per serve)(Optional)" 
     and "Step 3. Add reusable accessories(Optional)". (start at line: 554 and end at line: 582)
  3. create a "check out" button. (start at line: 584 and end at line: 590)
  4. create a link (keep browsing) to jump to page of collection/all-collection. (start at line: 592 and end at line: 596)
  5. create javascript to define rules and interactions of Step1&2&3. (start at line: 770 and end at line: 890)
  6. add a checkbox to button Step1 (from line 172 to 179) and add a checkbox for both button Step2&3 (from line 564 to 571) 
  7. create a new css file named: "component-tick-box.css" to define css of checkbox
  8. create javascript to make "Add to Cart" button fixed on the buttom of page if original button "Add to Cart" is invisiable on the page 
     only in mobile version. ( start at line: 894 and end at line: 933)
  9. Call add-button-operation.js at line 975
{% endcomment %}
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<section id="MainProduct-{{ section.id }}" class="page-width section-{{ section.id }}-padding"
         data-section="{{ section.id }}">
    {{ 'section-main-product.css' | asset_url | stylesheet_tag }}
    {{ 'section-new-product-template.css' | asset_url | stylesheet_tag }}
    {{ 'component-accordion.css' | asset_url | stylesheet_tag }}
    {{ 'component-price.css' | asset_url | stylesheet_tag }}
    {{ 'component-rte.css' | asset_url | stylesheet_tag }}
    {{ 'component-slider.css' | asset_url | stylesheet_tag }}
    {{ 'component-rating.css' | asset_url | stylesheet_tag }}
    {{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
    {{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}
    {{ 'component-product-details.css' | asset_url | stylesheet_tag }}
    {{ 'component-tick-box.css' | asset_url | stylesheet_tag }}


    {%- style -%}
        .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
        }

        @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
        }
        }
        *{
        scroll-behavior: smooth;
        }

        #toppings-popup {
          position: relative;
          margin: 2rem 0 0 0;
          border-top: 0.1rem solid rgba(var(--color-foreground),.08);
          border-bottom: 0.1rem solid rgba(var(--color-foreground),.08);
          display: flex;
          flex: 1;
          align-items: center;
        }

        .popup_btn {
        z-index: 2;
        text-decoration: none;
        text-align: left;
        font-family: Assistant, sans-serif;
        font-style: normal;
        font-size: calc(1.0 * 1.5rem);
        }

        .popup_btn:hover {
        font-weight: bold;
        text-align: left;
        }

        .popup_btn_a {
        padding: 1.5rem 0;
        text-align: left;
        }

        .popup_btn_a:hover {
        font-weight: bold;
        text-align: left;
        }

        .check_out_button {
        z-index: 5;
        margin: 2rem 0 0 0;
        text-align: right;
        }

        .check_out_button button {
        width: 100%;
        max-width: inherit;
        background: #FEE88D;
        }

        .keep_browsing {
        position: relative;
        z-index: 5;
        margin: 2rem 0 0 0;
        text-align: center;
        }

        .keep_browsing a {
        color: inherit;
        }

        .bold {
        font-weight: bold;
        }

        .mobile_add_button {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          z-index: 10;
          border: 0;
        }

        .mobile_add_button button {
          border-radius: 0;
          height: 55px;
        }

        .mobile_add_button button::after {
          border-radius: 0;
        }

        .mobile_add_button button::before {
          border-radius: 0;
        }

        .hidden {
        display: none;
        }

        .mobile_button_animation {
            animation: fadeOut 5s;
        }

        @keyframes fadeOut {
            0% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

    {%- endstyle -%}

    <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
    {% assign in_stock = "True" %}
    {% for tag in product.tags %}
        {% if tag contains "Out Of Stock" %}
            {% assign in_stock = "False" %}
        {% endif %}
    {% endfor %}
    {%- assign first_3d_model = product.media | where: 'media_type', 'model' | first -%}
    {%- if first_3d_model -%}
        {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
        <link
                id="ModelViewerStyle"
                rel="stylesheet"
                href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css"
                media="print"
                onload="this.media='all'"
        >
        <link
                id="ModelViewerOverride"
                rel="stylesheet"
                href="{{ 'component-model-viewer-ui.css' | asset_url }}"
                media="print"
                onload="this.media='all'"
        >
    {%- endif -%}

    {% assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' %}

    <div class="product product--{{ section.settings.media_size }} product--{{ section.settings.gallery_layout }} grid grid--1-col {% if product.media.size > 0 %}grid--2-col-tablet{% else %}product--no-media{% endif %}">
        <div class="grid__item product__media-wrapper{% if section.settings.media_position == 'right' %} medium-hide large-up-hide{% endif %}">
            {% render 'product-media-gallery', variant_images: variant_images %}
        </div>
        <div class="product__info-wrapper grid__item{% if settings.page_width > 1400 and section.settings.media_size == "small" %} product__info-wrapper--extra-padding{% endif %}">
          <!-- New accordion "Step 1. Add kit to cart" wrapper starts here -->
          <div class="product__accordion accordion quick-add-hidden" {{ block.shopify_attributes }} id="step1_accordion">
                <details id="Details-{{ block.id }}-{{ section.id }}" open>
                    <summary>
                        <div class="summary__title">
                            <div class="container"> 
                                <input type="checkbox" id="input-1" class="check-input">
                                <label for="input-1" class="checkbox">
                                    <svg viewBox="0 0 22 16" fill="none">
                                        <path d="M1 6.85L8.09677 14L21 1" />
                                    </svg>
                                </label>
                            </div> 
                            <p class="h4 accordion__title">
                                {{ section.settings.accordion_title }}
                            </p>
                        </div>
                        {% render 'icon-caret' %}
                    </summary>
                    <div class="accordion__content rte">
                        <div id="ProductInfo-{{ section.id }}"
                             class="product__info-container{% if section.settings.enable_sticky_info %} product__info-container--sticky{% endif %}">
                            {%- assign product_form_id = 'product-form-' | append: section.id -%}

                            {%- for block in section.blocks -%}
                                {%- case block.type -%}
                                    {%- when '@app' -%}
                                        {% render block %}
                                {%- when 'text' -%}
                                    <p class="product__text{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}" {{ block.shopify_attributes }}>
                                        {{- block.settings.text -}}
                                    </p>
                                {%- when 'title' -%}
                                    <div class="product__title" {{ block.shopify_attributes }}>
                                        <h1>{{ product.title | escape }}</h1>
                                        <a href="{{ product.url }}" class="product__title">
                                            <h2 class="h1">
                                                {{ product.title | escape }}
                                            </h2>
                                        </a>
                                    </div>
                                {%- when 'price' -%}
                                    <div class="no-js-hidden" id="price-{{ section.id }}"
                                         role="status" {{ block.shopify_attributes }}>
                                        {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
                                    </div>

                                    <div {{ block.shopify_attributes }}>
                                        {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
                                        {%- form 'product', product, id: product_form_installment_id, class: 'installment caption-large' -%}
                                            <input type="hidden" name="id"
                                                   value="{{ product.selected_or_first_available_variant.id }}">
                                            {{ form | payment_terms }}
                                        {%- endform -%}
                                    </div>
                                {%- when 'description' -%}
                                {%- if product.description != blank -%}
                                    <div class="product__description rte quick-add-hidden">
                                        {{ product.description }}
                                    </div>
                                {%- endif -%}
                                    {%- when 'custom_liquid' -%}
                                        {{ block.settings.custom_liquid }}
                                {%- when 'quantity_selector' -%}
                                    <div class="product-form__input product-form__quantity{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} product-form__quantity-top{% endif %}" {{ block.shopify_attributes }}>
                                        <label class="form__label" for="Quantity-{{ section.id }}">
                                            {{ 'products.product.quantity.label' | t }}
                                        </label>

                                        <quantity-input class="quantity">
                                            <button class="quantity__button no-js-hidden" name="minus" type="button">
                                                <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                                                {% render 'icon-minus' %}
                                            </button>
                                            <input class="quantity__input"
                                                   type="number"
                                                   name="quantity"
                                                   id="Quantity-{{ section.id }}"
                                                   min="1"
                                                   value="1"
                                                   form="{{ product_form_id }}"
                                            >
                                            <button class="quantity__button no-js-hidden" name="plus" type="button">
                                                <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                                                {% render 'icon-plus' %}
                                            </button>
                                        </quantity-input>
                                    </div>
                                {%- when 'share' -%}
                                    <share-button id="Share-{{ section.id }}"
                                                  class="share-button quick-add-hidden" {{ block.shopify_attributes }}>
                                        <button class="share-button__button hidden">
                                            {% render 'icon-share' %}
                                            {{ block.settings.share_label | escape }}
                                        </button>
                                        <details id="Details-{{ block.id }}-{{ section.id }}">
                                            <summary class="share-button__button">
                                                {% render 'icon-share' %}
                                                {{ block.settings.share_label | escape }}
                                            </summary>
                                            <div id="Product-share-{{ section.id }}"
                                                 class="share-button__fallback motion-reduce">
                                                <div class="field">
                    <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status">
                    </span>
                                                    <input type="text"
                                                           class="field__input"
                                                           id="url"
                                                           value="{{ product.selected_variant.url | default: product.url | prepend: request.origin }}"
                                                           placeholder="{{ 'general.share.share_url' | t }}"
                                                           onclick="this.select();"
                                                           readonly
                                                    >
                                                    <label class="field__label"
                                                           for="url">{{ 'general.share.share_url' | t }}</label>
                                                </div>
                                                <button class="share-button__close hidden no-js-hidden">
                                                    {% render 'icon-close' %}
                                                    <span class="visually-hidden">{{ 'general.share.close' | t }}</span>
                                                </button>
                                                <button class="share-button__copy no-js-hidden">
                                                    {% render 'icon-clipboard' %}
                                                    <span class="visually-hidden">{{ 'general.share.copy_to_clipboard' | t }}</span>
                                                </button>
                                            </div>
                                        </details>
                                    </share-button>
                                    <script src="{{ 'share.js' | asset_url }}" defer="defer"></script>
                                {%- when 'variant_picker' -%}
                                {%- unless product.has_only_default_variant -%}
                                {%- if block.settings.picker_type == 'button' -%}
                                    <variant-radios class="no-js-hidden" data-section="{{ section.id }}"
                                                    data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                                        {%- for option in product.options_with_values -%}
                                            <fieldset class="js product-form__input">
                                                <legend class="form__label">{{ option.name }}</legend>
                                                {%- for value in option.values -%}
                                                    <input type="radio"
                                                           id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                                           name="{{ option.name }}"
                                                           value="{{ value | escape }}"
                                                           form="{{ product_form_id }}"
                                                           {% if option.selected_value == value %}{% if in_stock == "False" %}disabled{% else %}checked{% endif %}{% endif %}
                                                        {% if in_stock == "False" %}disabled{% endif %}
                                                    >
                                                    <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                                                        {{ value }}
                                                    </label>
                                                {%- endfor -%}
                                            </fieldset>
                                        {%- endfor -%}
                                        <script type="application/json">
                    {{ product.variants | json }}



                                        </script>
                                    </variant-radios>
                                {%- else -%}
                                    <variant-selects class="no-js-hidden" data-section="{{ section.id }}"
                                                     data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                                        {%- for option in product.options_with_values -%}
                                            <div class="product-form__input product-form__input--dropdown">
                                                <label class="form__label"
                                                       for="Option-{{ section.id }}-{{ forloop.index0 }}">
                                                    {{ option.name }}
                                                </label>
                                                <div class="select">
                                                    <select id="Option-{{ section.id }}-{{ forloop.index0 }}"
                                                            class="select__select"
                                                            name="options[{{ option.name | escape }}]"
                                                            form="{{ product_form_id }}"
                                                            {% if in_stock != "True" %}disabled{% endif %}
                                                    >
                                                        {%- for value in option.values -%}
                                                            <option value="{{ value | escape }}"
                                                                    {% if option.selected_value == value %}selected="selected"{% endif %}>
                                                                {{ value }}
                                                            </option>
                                                        {%- endfor -%}
                                                    </select>
                                                    {% render 'icon-caret' %}
                                                </div>
                                            </div>
                                        {%- endfor -%}

                                        <script type="application/json">
                    {{ product.variants | json }}



                                        </script>
                                    </variant-selects>
                                {%- endif -%}
                                {%- endunless -%}

                                    <noscript class="product-form__noscript-wrapper-{{ section.id }}">
                                        <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                                            <label class="form__label"
                                                   for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
                                            <div class="select">
                                                <select name="id" id="Variants-{{ section.id }}" class="select__select"
                                                        form="{{ product_form_id }}">
                                                    {%- for variant in product.variants -%}
                                                        <option
                                                                {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                                                            {% if variant.available == false %}disabled{% endif %}
                                                                value="{{ variant.id }}"
                                                        >
                                                            {{ variant.title }}
                                                            {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                                                            - {{ variant.price | money | strip_html }}
                                                        </option>
                                                    {%- endfor -%}
                                                </select>
                                                {% render 'icon-caret' %}
                                            </div>
                                        </div>
                                    </noscript>

                                {%- when 'buy_buttons' -%}
                                {% if product.title contains 'FREE G' %}
                                {% else %}
                                    <div class="buy-buttons-container" {{ block.shopify_attributes }}>
                                        <product-form class="product-form">
                                            <div class="product-form__error-message-wrapper" role="alert" hidden>
                                                <svg aria-hidden="true" focusable="false" role="presentation"
                                                     class="icon icon-error"
                                                     viewBox="0 0 13 13">
                                                    <circle cx="6.5" cy="6.50049" r="5.5" stroke="white"
                                                            stroke-width="2"/>
                                                    <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B"
                                                            stroke-width="0.7"/>
                                                    <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z"
                                                          fill="white"/>
                                                    <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z"
                                                          fill="white" stroke="#EB001B" stroke-width="0.7"/>
                                                </svg>
                                                <span class="product-form__error-message"></span>
                                            </div>
                                            {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                                                <input type="hidden" name="id"
                                                       value="{{ product.selected_or_first_available_variant.id }}"
                                                       disabled>
                                                <div class="product-form__buttons">
                                                    <button
                                                            id="product_buy"
                                                            type="submit"
                                                            name="add"
                                                            onclick="closeAccordion()"
                                                            class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                                                            {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                                                            {% if in_stock == "False" %}
                                                                disabled
                                                            {% endif %}
                                                    >

                        <span>
                          {%- if product.selected_or_first_available_variant.available and in_stock == "True" -%}
                              {{ 'products.product.add_to_cart' | t }}
                          {%- else -%}
                              {{ 'products.product.sold_out' | t }}
                          {%- endif -%}
                        </span>
                                                        <div class="loading-overlay__spinner hidden">
                                                            <svg aria-hidden="true" focusable="false"
                                                                 role="presentation" class="spinner"
                                                                 viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                                                <circle class="path" fill="none" stroke-width="6"
                                                                        cx="33" cy="33" r="30"></circle>
                                                            </svg>
                                                        </div>
                                                    </button>
                                                    {%- if block.settings.show_dynamic_checkout -%}
                                                        {{ form | payment_button }}
                                                    {%- endif -%}
                                                </div>
                                            {%- endform -%}
                                        </product-form>

                                        {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

                                        {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}

                                        <!--   <pickup-availability class="product__pickup-availabilities no-js-hidden quick-add-hidden"
                {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %} available{% endif %}
                data-root-url="{{ routes.root_url }}"
                data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                data-has-only-default-variant="{{ product.has_only_default_variant }}"
              >
                <template>
                  <pickup-availability-preview class="pickup-availability-preview">
                    {% render 'icon-unavailable' %}
                    <div class="pickup-availability-info">
                      <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
                      <button class="pickup-availability-button link link--text underlined-link">{{ 'products.product.pickup_availability.refresh' | t }}</button>
                    </div>
                  </pickup-availability-preview>
                </template>
              </pickup-availability> -->
                                    </div>

                                    <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
                                {% endif %}
                                {%- when 'rating' -%}
                                {%- if product.metafields.reviews.rating.value != blank -%}
                                    {% liquid
                                        assign rating_decimal = 0
                                        assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1
                                        if decimal >= 0.3 and decimal <= 0.7
                                            assign rating_decimal = 0.5
                                        elsif decimal > 0.7
                                            assign rating_decimal = 1
                                        endif
                                    %}
                                    <div class="rating" role="img"
                                         aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}">
                    <span aria-hidden="true" class="rating-star color-icon-{{ settings.accent_icons }}"
                          style="--rating: {{ product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"></span>
                                    </div>
                                    <p class="rating-text caption">
                                        <span aria-hidden="true">{{ product.metafields.reviews.rating.value }} / {{ product.metafields.reviews.rating.value.scale_max }}</span>
                                    </p>
                                    <p class="rating-count caption">
                                        <span aria-hidden="true">({{ product.metafields.reviews.rating_count }})</span>
                                        <span class="visually-hidden">{{ product.metafields.reviews.rating_count }} {{ "accessibility.total_reviews" | t }}</span>
                                    </p>
                                {%- endif -%}
                                {%- endcase -%}
                            {%- endfor -%}

                            <a href="{{ product.url }}" class="link product__view-details animate-arrow">
                                {{ 'products.product.view_full_details' | t }}
                                {% render 'icon-arrow' %}
                            </a>
                        </div>
                    </div>

                </details>
            </div>
            <!--New accordion with name "Step1: Add kit to cart" ends here-->

            <!-- The button fixed on the bottom of mobile page starts here-->
            {% if product.title contains 'FREE G' %}
            {% else %}
                <div class="buy-buttons-container" {{ block.shopify_attributes }}>
                    <product-form class="product-form">
                        <div class="product-form__error-message-wrapper" role="alert" hidden>
                            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                                <!-- SVG code for error icon -->
                            </svg>
                            <span class="product-form__error-message"></span>
                        </div>
                        {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                            <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
                            <div class="product-form__buttons">
                                <div class="mobile_add_button hidden">
                                    <button
                                            id="product_buy_mobile_button"
                                            type="submit"
                                            name="add"
                                            onclick="closeAccordion()"
                                            class="button button--full-width mobile_add_button{% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                                            {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                                            {% if in_stock == "False" %}
                                                disabled
                                            {% endif %}
                                    >
                    <span>
                          {%- if product.selected_or_first_available_variant.available and in_stock == "True" -%}
                              {{ 'products.product.add_to_cart' | t }}
                          {%- else -%}
                              {{ 'products.product.sold_out' | t }}
                          {%- endif -%}
                        </span>
                                        <div class="loading-overlay__spinner hidden">
                                            <svg aria-hidden="true" focusable="false"
                                                 role="presentation" class="spinner"
                                                 viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                                <circle class="path" fill="none" stroke-width="6"
                                                        cx="33" cy="33" r="30"></circle>
                                            </svg>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        {%- endform -%}
                    </product-form>

                    {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}
                    {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}
                    <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
                </div>
            {% endif %}
            <!-- The button fixed on the bottom of mobile page ends here-->

            <!--New two buttons( Step2&3 ) start here-->
            {%- for block in section.blocks -%}
                {%- case block.type -%}
                    {%- when 'popup-collection' -%}
                        <modal-opener id="toppings-popup"
                                      class="product-popup-modal__opener no-js-hidden quick-add-hidden"
                                      data-modal="#PopupModal-{{ block.id }}" {{ block.shopify_attributes }}>
                            <div class="container"> 
                                <input type="checkbox" id="input-{{ block.settings.input_no }}" class="check-input">
                                <label for="input-{{ block.settings.input_no }}" class="checkbox">
                                    <svg viewBox="0 0 22 16" fill="none">
                                        <path d="M1 6.85L8.09677 14L21 1" />
                                    </svg>
                                </label>
                            </div> 
                            <button id="ProductPopup-{{ block.id }}"
                                    class="product-popup-modal__button popup_btn link {{ block.settings.button_className }}"
                                    type="button"
                                    aria-haspopup="dialog">{{ block.settings.text | default: block.settings.page.title }}                           
                            </button>
                            
                        </modal-opener>
                        <a href="{{ block.settings.page.url }}"
                           class="product-popup-modal__button link no-js popup_btn_a">{{ block.settings.text }} 
                        </a>                        
                    
                {% endcase %}
            {% endfor %}
            <!--End of two buttons( Step2 && Step3 ) end here-->

            <!--Start of "check out" button here-->
            <div class="check_out_button">
                <button type="submit" id="CartDrawer-Checkout" class="cart__checkout-button button" name="checkout" form="CartDrawer-Form">
                    Check out
                </button>
            </div>
            <!--End of "check out" button here-->

            <!--Start of "keep browsing" link here-->                              
            <div class="keep_browsing">
                <a href="/collections/all">Keep Browsing</a>
            </div>
            <!--End of "keep browsing" link here-->                              
        </div>

    </div>

    <product-modal id="ProductModal-{{ section.id }}" class="product-media-modal media-modal">
        <div class="product-media-modal__dialog" role="dialog" aria-label="{{ 'products.modal.label' | t }}"
             aria-modal="true" tabindex="-1">
            <button id="ModalClose-{{ section.id }}" type="button" class="product-media-modal__toggle"
                    aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>

            <div class="product-media-modal__content gradient" role="document"
                 aria-label="{{ 'products.modal.label' | t }}" tabindex="0">
                {%- liquid
                    if product.selected_or_first_available_variant.featured_media != null
                        assign media = product.selected_or_first_available_variant.featured_media
                        render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: section.settings.hide_variants
                    endif
                -%}

                {%- for media in product.media -%}
                    {%- liquid
                        if section.settings.hide_variants and variant_images contains media.src
                            assign variant_image = true
                        else
                            assign variant_image = false
                        endif

                        unless media.id == product.selected_or_first_available_variant.featured_media.id
                            render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: variant_image
                        endunless
                    -%}
                {%- endfor -%}
            </div>
        </div>
    </product-modal>

    {% assign popups = section.blocks | where: "type", "popup-collection" %}
    {%- for block in popups -%}
        <modal-dialog id="PopupModal-{{ block.id }}" class="product-popup-modal" {{ block.shopify_attributes }}>
            <div role="dialog" aria-label="{{ block.settings.text }}" aria-modal="true"
                 class="product-popup-modal__content" tabindex="-1">
                <button id="ModalClose-{{ block.id }}" type="button" class="product-popup-modal__toggle"
                        aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
                <div class="product-popup-modal__content-info">
                    <h1 class=" center h2">{{ block.settings.collection.title }}</h1>
                    <div class="product-grid-container{% if block.settings.filter_type == 'vertical' and block.settings.collapse_on_larger_devices %} product-grid-container-vertical{% endif %}"
                         id="ProductGridContainer">
                        {%- paginate block.settings.collection.products by block.settings.products_per_page -%}
                        <div class="collection{% if block.settings.filter_type != 'vertical' %} page-width{% endif %}">
                            <div class="loading-overlay gradient"></div>

                            <ul id="product-grid" data-id="{{ block.id }}" class="
                                grid product-grid grid--{{ block.settings.columns_mobile }}-col-tablet-down
                                grid--{{ block.settings.columns_desktop }}-col-desktop">
                                {%- for product in block.settings.collection.products -%}
                                    {% assign lazy_load = false %}
                                    {%- if forloop.index > 2 -%}
                                        {%- assign lazy_load = true -%}
                                    {%- endif -%}
                                    {%- if product.first_available_variant.available -%}
                                        <li class="grid__item">
                                            {% render 'modal-card-product',
                                                    card_product: product,
                                                    media_aspect_ratio: block.settings.image_ratio,
                                                    show_secondary_image: block.settings.show_secondary_image,
                                                    show_vendor: block.settings.show_vendor,
                                                    show_rating: block.settings.show_rating,
                                                    lazy_load: lazy_load,
                                                    show_quick_add: block.settings.enable_quick_add,
                                                    block_id: block.id
                                            %}
                                        </li>
                                    {%- endif -%}
                                {%- endfor -%}
                            </ul>

                            {%- if paginate.pages > 1 -%}
                                {% render 'pagination', paginate: paginate, anchor: '' %}
                            {%- endif -%}
                        </div>

                    {%- endpaginate -%}
                </div>
            </div>
            </div>
        </modal-dialog>
    {%- endfor -%}


{%- if product.media.size > 0 -%}
    <script src="{{ 'product-modal.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'media-gallery.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'modal-dialog.js' | asset_url }}" defer="defer"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous">
        {%- endif -%}

        {%- if first_3d_model -%}
        <script type="application/json" id="ProductJSON-{{ product.id }}">
        {{ product.media | where: 'media_type', 'model' | json }}
    </script>
    <script src="{{ 'product-model.js' | asset_url }}" defer></script>
    {%- endif -%}


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            function isIE() {
                const ua = window.navigator.userAgent;
                const msie = ua.indexOf('MSIE ');
                const trident = ua.indexOf('Trident/');

                return (msie > 0 || trident > 0);
            }

            if (!isIE()) return;
            const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
            const noScriptInputWrapper = document.createElement('div');
            const variantSwitcher = document.querySelector('variant-radios[data-section="{{ section.id }}"]') || document.querySelector('variant-selects[data-section="{{ section.id }}"]');
            noScriptInputWrapper.innerHTML = document.querySelector('.product-form__noscript-wrapper-{{ section.id }}').textContent;
            variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

            document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function (event) {
                hiddenInput.value = event.currentTarget.value;
            });
        });

    </script>
    {%- liquid
        if product.selected_or_first_available_variant.featured_media
            assign seo_media = product.selected_or_first_available_variant.featured_media
        else
            assign seo_media = product.featured_media
        endif
    -%}

    <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Product",
      "name": {{ product.title | json }},
      "url": {{ request.origin | append: product.url | json }},
      {% if seo_media -%}
        "image": [
          {{ seo_media | image_url: width: seo_media.preview_image.width | prepend: "https:" | json }}
        ],
      {%- endif %}
      "description": {{ product.description | strip_html | json }},
      {% if product.selected_or_first_available_variant.sku != blank -%}
        "sku": {{ product.selected_or_first_available_variant.sku | json }},
      {%- endif %}
      "brand": {
        "@type": "Thing",
        "name": {{ product.vendor | json }}
      },
      "offers": [
        {%- for variant in product.variants -%}
          {
            "@type" : "Offer",
            {%- if variant.sku != blank -%}
              "sku": {{ variant.sku | json }},
            {%- endif -%}
            "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
            "price" : {{ variant.price | divided_by: 100.00 | json }},
            "priceCurrency" : {{ cart.currency.iso_code | json }},
            "url" : {{ request.origin | append: variant.url | json }}
          }{% unless forloop.last %}{% endunless %}
        {%- endfor -%}
      ]
    }


    </script>

    <!--The javascript to define the rule of interactions of Step1&2&3, checkbox and popup windows of step2&3-->
    <script>
        // Declaring global variables
        // Set the session to tag the three new design products(brown-sugar/milk-tea/fruit-tea)
        sessionStorage.setItem('isNewDesignProduct', true);
        sessionStorage.setItem('notStep3Btn', true);
      
        let button_step2 = document.querySelector(".step2_button");
        let button_step3 = document.querySelector(".step3_button");
        let accordion_title = document.querySelector(".accordion__title");
        let quickAddButtons = document.querySelectorAll('.quick-add__submit');
        let modalDialog = null;
        let modalDialogArray = document.querySelectorAll('modal-dialog');
        let accessoriesDialog = null;
        let toppingsDialog = null;      
      
        // tick_box part
        var checkbox1 = document.getElementById('input-1');
        var checkbox2 = document.getElementById('input-2');
        var checkbox3 = document.getElementById('input-3');

        var label1 = document.querySelector('label[for="input-1"]');
        var label2 = document.querySelector('label[for="input-2"]');
        var label3 = document.querySelector('label[for="input-3"]');

        var checkboxes = document.querySelectorAll('.check-input');

        for (var i = 0; i < checkboxes.length; i++) {
          var checkbox = checkboxes[i];
          var label = checkbox.nextElementSibling;
        
          label.addEventListener('click', function(event) {
            event.preventDefault(); 
          });
        
          checkbox.addEventListener('click', function(event) {
            event.preventDefault(); 
          });
        
        }
      
        function setCheckBoxStates(checkbox, label) {
          checkbox.checked = true;
          label.classList.add('checked');
        }
      
        // mapping to find each modal element
        modalDialogArray.forEach(el =>{
            let modalTitle = el.querySelector('h1').textContent;
            if (modalTitle === 'BBT Accessories'){
                accessoriesDialog = el;
            } else if (modalTitle === 'Toppings with Kits'){
                toppingsDialog = el;
            }
        })
    
        /***** Helper functions to process ****/
        function closeAccordion() {
            var mobile_add_button = document.getElementById('product_buy_mobile_button');
            var accordion = document.getElementById("step1_accordion");
            if (accordion) {
                var details = accordion.querySelector('details');
                if (details) {
                    accordion_title.classList.remove("h4");
                    setTimeout(function() {
                        details.open = false;
                    }, 1000);
                    setCheckBoxStates(checkbox1, label1);                       
                    boldStep2();
                }
                setTimeout(function() {
                   // Roll back to the top after close the accordion
                    if (window.innerWidth < 750) {
                        var scrollTag = document.querySelector('.product__modal-opener');
                        if (scrollTag) {
                            scrollTag.scrollIntoView({ behavior: 'smooth' });
                        }
                    } else {
                        window.scrollTo({ top: 0, behavior: 'smooth' });
                    }
                }, 1000);
                setTimeout(function () {
                    mobile_add_button.classList.add("hidden");
                }, 3000)
            }
        }


        function boldStep2() {
            quickAddButtonsListener(toppingsDialog);
            button_step2.classList.add("bold");
            button_step3.classList.remove("bold");
            button_step2.addEventListener("click", boldStep3);
        }

        function boldStep3() {
            quickAddButtonsListener(accessoriesDialog);
            button_step2.classList.remove("bold");
            button_step3.classList.add("bold");
            quickAddButtonsListenerForCheckbox(checkbox2, label2);
            button_step3.addEventListener("click", afterStep3);
        }

        function afterStep3() {
            // set session to mark this is step3 and pop up cart-drawer only in step3
            sessionStorage.setItem('notStep3Btn', false);
            quickAddButtonsListenerForCheckbox(checkbox3, label3)
            button_step3.classList.remove("bold");
        }

        // quickAddButtons are all "Add to cart" buttons in popup windows, add listener to all of them to close popup window after clicking any one of them
        function quickAddButtonsListener(dialog) {
            let modalDialogNow = dialog;
            quickAddButtons.forEach(button => {
                button.addEventListener('click', function() {
                    modalDialogNow.removeAttribute('open');
                    
                });
            });
        }

        // add listener to all quickAddButtons to tick the checknbox after clicking any one of them
        function quickAddButtonsListenerForCheckbox(checkbox, label) {
          quickAddButtons.forEach(button => {
                button.addEventListener('click', function() {
                    setCheckBoxStates(checkbox, label);
                });
            });
        }

    </script>
    <!--Button Step1&2&3 javascript ends here-->

    <!--Rules and interactions of "Add to Cart" only on mobile javescript start here-->
    <script>
        var add_button = document.getElementById('product_buy');
        // var mobile_add_button = document.getElementById('product_buy_mobile_button');
        var mobile_add_button_parentNode = document.querySelector('.mobile_add_button');
        var add_buttonRect = null;
        var isButtonVisible = false;


        // The function to check whether the button is visiable
        function isElementInViewport(element) {
            var rect = element.getBoundingClientRect();

            return (
                rect.top >= 0 &&
                rect.left >= 0 &&
                rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
                rect.right <= (window.innerWidth || document.documentElement.clientWidth)
            );
        }

        function displayMobileAddButton() {
            add_buttonRect = add_button.getBoundingClientRect();
            isButtonVisible = isElementInViewport(add_button);

            if (!isButtonVisible && window.innerWidth < 751) {
                mobile_add_button_parentNode.classList.remove('hidden');
            } else {
                mobile_add_button_parentNode.classList.add('hidden');
            }
        }

        function handleScroll() {
            displayMobileAddButton();
        }

        displayMobileAddButton();
        window.addEventListener('DOMContentLoaded', displayMobileAddButton);
        window.addEventListener('resize', displayMobileAddButton);
        window.addEventListener('scroll', handleScroll);

    </script>
    <!--Rules and interactions of "Add to Cart" only on mobile javescript ends here-->

    <!--The js call that avoid user clicking "Add to cart" before entire page being loaded-->
    <script src="{{ 'add-button-operation.js' | asset_url }}"></script>
</section>


{% schema %}
{
  "name": "t:sections.main-product-new.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product-new.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "t:sections.main-product-new.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-product-new.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-product-new.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-product-new.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-product-new.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product-new.blocks.title.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.main-product-new.blocks.price.name",
      "limit": 1
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main-product-new.blocks.quantity_selector.name",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product-new.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product-new.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product-new.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product-new.blocks.variant_picker.settings.picker_type.label"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product-new.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product-new.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product-new.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product-new.blocks.description.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-product-new.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-product-new.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product-new.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product-new.blocks.share.settings.title_info.content"
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.main-product-new.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.main-product-new.blocks.custom_liquid.settings.custom_liquid.label",
          "info": "t:sections.main-product-new.blocks.custom_liquid.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.main-product-new.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible row",
          "info": "t:sections.main-product-new.blocks.collapsible_tab.settings.heading.info",
          "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.heading.label"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "apple",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "banana",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "bottle",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "lipstick",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__24.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__25.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__26.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__27.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__28.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__29.label"
            },
            {
              "value": "plant",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__30.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__31.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__35.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__36.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__43.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.options__44.label"
            }
          ],
          "default": "check_mark",
          "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.icon.label"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.main-product-new.blocks.collapsible_tab.settings.page.label"
        }
      ]
    },
    {
      "type": "popup",
      "name": "t:sections.main-product-new.blocks.popup.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Pop-up link text",
          "label": "t:sections.main-product-new.blocks.popup.settings.link_label.label"
        },
        {
          "id": "page",
          "type": "page",
          "label": "t:sections.main-product-new.blocks.popup.settings.page.label"
        }
      ]
    },
    {
      "type": "popup-collection",
      "name": "t:sections.main-product-new.blocks.popup-collection.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Pop-up link text",
          "label": "t:sections.main-product-new.blocks.popup.settings.link_label.label"
        },
        {
          "type": "text",
          "id": "input_no",
          "default": "Input the id number of this step, the same number as the Step",
          "label": "t:sections.main-product-new.blocks.popup-collection.settings.input_no.label"
        },
        {
          "type": "text",
          "id": "button_className",
          "label": "t:sections.main-product-new.blocks.popup-collection.settings.button_className.label"
        },
        {
          "id": "collection",
          "type": "collection",
          "label": "t:sections.main-product-new.blocks.popup.settings.collection.label"
        },
        {
          "type": "range",
          "id": "products_per_page",
          "min": 8,
          "max": 24,
          "step": 4,
          "default": 16,
          "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
        },
        {
          "type": "range",
          "id": "columns_desktop",
          "min": 1,
          "max": 5,
          "step": 1,
          "default": 4,
          "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
        },
        {
          "type": "header",
          "content": "t:sections.main-collection-product-grid.settings.header__3.content"
        },
        {
          "type": "select",
          "id": "image_ratio",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
            },
            {
              "value": "portrait",
              "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
            },
            {
              "value": "square",
              "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
        },
        {
          "type": "checkbox",
          "id": "show_secondary_image",
          "default": false,
          "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
        },
        {
          "type": "checkbox",
          "id": "show_vendor",
          "default": false,
          "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
        },
        {
          "type": "checkbox",
          "id": "show_rating",
          "default": false,
          "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
          "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
        },
        {
          "type": "checkbox",
          "id": "enable_quick_add",
          "default": false,
          "label": "t:sections.main-collection-product-grid.settings.enable_quick_buy.label"
        },
        {
          "type": "header",
          "content": "t:sections.main-collection-product-grid.settings.header__1.content"
        },
        {
          "type": "checkbox",
          "id": "enable_filtering",
          "default": true,
          "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
          "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
        },
        {
          "type": "select",
          "id": "filter_type",
          "options": [
            {
              "value": "horizontal",
              "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
            },
            {
              "value": "vertical",
              "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
            },
            {
              "value": "drawer",
              "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
            }
          ],
          "default": "horizontal",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
          "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
        },
        {
          "type": "checkbox",
          "id": "enable_sorting",
          "default": true,
          "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
        },
        {
          "type": "header",
          "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
        },
        {
          "type": "select",
          "id": "columns_mobile",
          "default": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
          "options": [
            {
              "value": "1",
              "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
            },
            {
              "value": "2",
              "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
            }
          ]
        }
      ]
    },
    {
      "type": "rating",
      "name": "t:sections.main-product-new.blocks.rating.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product-new.blocks.rating.settings.paragraph.content"
        }
      ]
    },
    {
      "type": "collection-row",
      "name": "t:sections.new-product-template.blocks.collection-row.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.featured-collection.settings.collection.label"
        },
        {
          "type": "range",
          "id": "products_to_show",
          "min": 2,
          "max": 12,
          "step": 1,
          "default": 4,
          "label": "t:sections.featured-collection.settings.products_to_show.label"
        },
        {
          "type": "range",
          "id": "columns_desktop",
          "min": 1,
          "max": 5,
          "step": 1,
          "default": 4,
          "label": "t:sections.featured-collection.settings.columns_desktop.label"
        },
        {
          "type": "checkbox",
          "id": "full_width",
          "label": "t:sections.featured-collection.settings.full_width.label",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "show_view_all",
          "default": true,
          "label": "t:sections.featured-collection.settings.show_view_all.label"
        },
        {
          "type": "select",
          "id": "view_all_style",
          "label": "t:sections.featured-collection.settings.view_all_style.label",
          "options": [
            {
              "value": "link",
              "label": "t:sections.featured-collection.settings.view_all_style.options__1.label"
            },
            {
              "value": "outline",
              "label": "t:sections.featured-collection.settings.view_all_style.options__2.label"
            },
            {
              "value": "solid",
              "label": "t:sections.featured-collection.settings.view_all_style.options__3.label"
            }
          ],
          "default": "solid"
        },
        {
          "type": "checkbox",
          "id": "show_desktop_slider",
          "label": "t:sections.featured-collection.settings.enable_desktop_slider.label",
          "default": true
        },
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.all.colors.accent_1.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.all.colors.accent_2.label"
            },
            {
              "value": "background-1",
              "label": "t:sections.all.colors.background_1.label"
            },
            {
              "value": "background-2",
              "label": "t:sections.all.colors.background_2.label"
            },
            {
              "value": "inverse",
              "label": "t:sections.all.colors.inverse.label"
            }
          ],
          "default": "background-1",
          "label": "t:sections.all.colors.label",
          "info": "t:sections.all.colors.has_cards_info"
        },
        {
          "type": "header",
          "content": "t:sections.featured-collection.settings.header.content"
        },
        {
          "type": "select",
          "id": "image_ratio",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
            },
            {
              "value": "portrait",
              "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
            },
            {
              "value": "square",
              "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.featured-collection.settings.image_ratio.label"
        },
        {
          "type": "checkbox",
          "id": "show_secondary_image",
          "default": false,
          "label": "t:sections.featured-collection.settings.show_secondary_image.label"
        },
        {
          "type": "checkbox",
          "id": "show_vendor",
          "default": false,
          "label": "t:sections.featured-collection.settings.show_vendor.label"
        },
        {
          "type": "checkbox",
          "id": "show_rating",
          "default": false,
          "label": "t:sections.featured-collection.settings.show_rating.label",
          "info": "t:sections.featured-collection.settings.show_rating.info"
        },
        {
          "type": "checkbox",
          "id": "enable_quick_add",
          "default": false,
          "label": "t:sections.featured-collection.settings.enable_quick_buy.label"
        },
        {
          "type": "header",
          "content": "t:sections.featured-collection.settings.header_mobile.content"
        },
        {
          "type": "select",
          "id": "columns_mobile",
          "default": "2",
          "label": "t:sections.featured-collection.settings.columns_mobile.label",
          "options": [
            {
              "value": "1",
              "label": "t:sections.featured-collection.settings.columns_mobile.options__1.label"
            },
            {
              "value": "2",
              "label": "t:sections.featured-collection.settings.columns_mobile.options__2.label"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "show_mobile_slider",
          "default": true,
          "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_sticky_info",
      "default": true,
      "label": "t:sections.main-product-new.settings.enable_sticky_info.label"
    },
    {
      "type": "text",
      "id": "accordion_title",
      "default": "Input a title for this accordion",
      "label": "t:sections.main-product-new.settings.accordion_title.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-product-new.settings.header.content",
      "info": "t:sections.main-product-new.settings.header.info"
    },
    {
      "type": "select",
      "id": "gallery_layout",
      "options": [
        {
          "value": "stacked",
          "label": "t:sections.main-product-new.settings.gallery_layout.options__1.label"
        },
        {
          "value": "thumbnail",
          "label": "t:sections.main-product-new.settings.gallery_layout.options__2.label"
        },
        {
          "value": "thumbnail_slider",
          "label": "t:sections.main-product-new.settings.gallery_layout.options__3.label"
        }
      ],
      "default": "stacked",
      "label": "t:sections.main-product-new.settings.gallery_layout.label"
    },
    {
      "type": "select",
      "id": "media_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.main-product-new.settings.media_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-product-new.settings.media_size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-product-new.settings.media_size.options__3.label"
        }
      ],
      "default": "large",
      "label": "t:sections.main-product-new.settings.media_size.label",
      "info": "t:sections.main-product-new.settings.media_size.info"
    },
    {
      "type": "select",
      "id": "mobile_thumbnails",
      "options": [
        {
          "value": "show",
          "label": "t:sections.main-product-new.settings.mobile_thumbnails.options__1.label"
        },
        {
          "value": "hide",
          "label": "t:sections.main-product-new.settings.mobile_thumbnails.options__2.label"
        }
      ],
      "default": "hide",
      "label": "t:sections.main-product-new.settings.mobile_thumbnails.label"
    },
    {
      "type": "checkbox",
      "id": "hide_variants",
      "default": false,
      "label": "t:sections.main-product-new.settings.hide_variants.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": false,
      "label": "t:sections.main-product-new.settings.enable_video_looping.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
